$primary-color: #111518;
$accent-color: #FF6B09;
$secondary-color: #B9B9B9;
$white-color: #FFFFFF;
$background-dark: #F1F1F1;
$burg_menu-color:rgba(17, 21, 24, 0.9);
$main-font: 'Montserrat', sans-serif;