<div class="container">
    <div class="section">
       <h2 class="about__title">Teacher</h2>
            <div class="about__section">
                <img class="about__image" srcset="images/teacher-528.jpg 1x, images/teacher-1056.jpg 2x" src="images/teacher-528.jpg"
                    alt="Teacher Elena Morozova" width="528">
                <div class="about__text">
                    <div class="about__description">
                        <h3 class="about__description__title">Elena Morozova</h3>
                        <ul class="about__advantages-list">
                            <li class="about__advantages-item">
                                <p class="about__advantages-text">6 yeards of experience in preparing students for UPE</p>
                            </li>
                            <li class="about__advantages-item">
                                <p class="about__advantages-text">Own result of passing VNO - 197 points 2 years in a row</p>
                            </li>
                            <li class="about__advantages-item">
                                <p class="about__advantages-text">Passed excellent at the international analogue of UPE - Cambridge PET
                                    (Preliminary English Test)</p>
                            </li>
                        </ul>
                        <div class="about__additional-info">
                            <p class="about__additional-text">
                                Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.
                            </p>
                            <p class="about__additional-text">
                                In spare time takes courses from the best universities in the world on effective teaching and essay
                                writing
                                techniques.Completed:
                                English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How
                                to
                                Write an
                                Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education),
                                Powerful
                                Tools for
                                Teaching and Learning (University of Houston).
                            </p>
                            <a href="./" class="about__additional-ref">Cambrige English Entry Level Certificate</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>