<section class="benefits">
	<div class="container">
		<h2 class="benefits-title">Why do people choose us</h2>
		<div class="benefits-body">
			<ul class="benefits-list">
				<li class="benefits-li"><a name="training">Training in small groups</a></li>
				<li class="benefits-li">Rendered notes</li>
				<li class="benefits-li">Each lesson has a goal and a specific result</li>
				<li class="benefits-li">The real results of the teacher</li>
				<li class="benefits-li">The course program meets the requirements of the MES of Ukraine</li>
				<li class="benefits-li">Set of groups by level of knowledge</li>
			</ul>
		</div>
	</div> 
</section>