<section class="benefits" id="training">
  <div class="container">
    <h2 class="benefits-title">Why do people choose us</h2>
    <div class="benefits-body">
      <ul class="benefits-list">
        <li class="benefits-li"><p>Training in small groups</p></li>
        <li class="benefits-li"><p>Rendered notes</p></li>
        <li class="benefits-li"><p>Each lesson has a goal and a specific result</p></li>
        <li class="benefits-li"><p>The real results of the teacher</p></li>
        <li class="benefits-li">
          <p>The course program meets the requirements of the MES of Ukraine</p>
        </li>
        <li class="benefits-li"><p>Set of groups by level of knowledge</p></li>
      </ul>
    </div>
  </div>
</section>
