<!--footer-->
<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Registration for a <span class="contacts__span">free</span> phone
      <span class="contacts__span">consultation</span> on the nuances of English UPE
    </h2>
    <h3 class="contacts__text">
      Leave a request for participation in a
      <span class="contacts__span">free lesson</span>.<br />A consultant will contact you and answer
      your questions
    </h3>
    <form class="form">
      <div class="form__input-name">
        <label for="name"></label>
        <input type="text" name="name" placeholder="Name*" id="name" />
      </div>
      <div class="form__input-tel">
        <label for="tel"></label>
        <input type="tel" name="tel" placeholder="Phone*" id="tel" />
      </div>
      <div class="form__button">
        <button class="button" type="submit">I WANT A FREE LESSONS</button>
      </div>
    </form>
  </div>
</section>
