<footer class="footer">
  <div class="container">
    <ul class="footer__list list">
      <li class="footer__items">
        <a href="./index.html" class="link">
          <svg class="logo" width="80" height="29">
            <use href="./images/logo.svg"></use>
          </svg>
        </a>
      </li>
      <li class="footer__items-phone">
        <a href="tel:+380000000000" class="footer__items-phone-link link">+38 (000) 000 00 00</a>
      </li>
      <li class="footer__items list">
        <ul class="footer__items-social-list list">
          <li class="footer__items-social-items">
            <a href="" class="footer__items-social-link link">
              <svg class="footer__items-social-icon">
                <use href="./images/instagram.svg"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div>
      <p class="copyright">&#64; All rights reserved, 2019</p>
    </div>
  </div>
</footer>
