<section>
  <div class="container">
    <nav class="navigation">
      <a href="/" class="logo link">
        <svg class="logo__icon" width="128ph" height="45ph">
          <use href="../images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="navigation__list">
        <li class="list"><a href="" class="navigation__link link"></a></li>
        <li class="list"><a href="" class="navigation__link link"></a></li>
        <li class="list"><a href="" class="navigation__link link"></a></li>
        <li class="list"><a href="" class="navigation__link link"></a></li>
      </ul>
    </nav>
    <button class="modal-button" type="button"></button>
  </div>
</section>
