
		<section class="hero">
			<div class="container">
				<div class="hero-flex">
					<div class="flex-text">
									<h2 class="hero-title">Complex preparation for English UPE</h2>
					<p class="text-text">It won’t be easy. <br>
					<span class="text-bold">	But you’re guaranteed to get</span>
						<span class="text-points">+25 points</span></p>
						<a href="#contacts"class="hero-button">I want a free lesson</a>
					</div>
					<div class="flex-image">
						<img class="img_ellipse1"  src="../images/imag_ellipse1.png" alt="команда">
						<img class="img_ellipse2"  src="../images/imag_ellipse2.png" alt="команда">
						<!-- <img class="img_ellipse1" src="images/img_ellipse1.png" alt="команда">
						<img class="img_ellipse2" src="images/img_ellipse2.png" alt="команда"> -->
					</div>
		
				</div>
			</div> 
		</section>
