<section class="how-we-do">
    <div class="container">
        <h2 class="section-title section-title--font black">How do we do it</h2>
        <ul class="how-we-do__list">
            <li class="how-we-do__item">
                <div class="how-we-do__box">
                    <svg class="how-we-do__svg" width="45.39px" height="48px">
                        <use href="./images/sprite.svg#icon-how-we-do-1"></use>
                    </svg>
                </div>
                <h3 class="how-we-do__title how-we-do__title--width">
                    Adapted program
                    preparation for UPE
                </h3>
                <p class="how-we-do__information">
                    You will learn grammar and vocabulary at the same time. And you will learn how to write essays.
                </p>
            </li>
            <li class="how-we-do__item">
                <div class="how-we-do__box">
                    <svg class="how-we-do__svg" width="48px" height="47px">
                        <use href="./images/sprite.svg#icon-how-we-do-2"></use>
                    </svg>
                </div>
                <h3 class="how-we-do__title how-we-do__title--width">
                    Classroom and online learning
                </h3>
                <p class="how-we-do__information">
                    The teacher will help not only in the classroom, but also during home preparation.<br>Parents can chat if they wish.
                </p>
            </li>
            <li class="how-we-do__item">
                <div class="how-we-do__box">
                    <svg class="how-we-do__svg" width="68.43px" height="48px">
                        <use href="./images/sprite.svg#icon-how-we-do-3"></use>
                    </svg>
                </div>
                <h3 class="how-we-do__title">
                    The habit of reading in English
                </h3>
                <p class="how-we-do__information how-we-do__information--width">
                    Articles from sources that are used in the development of this UPE will be received by phone twice a week.
                </p>
            </li>
            <li class="how-we-do__item">
                <div class="how-we-do__box">
                    <svg class="how-we-do__svg" width="48.35px" height="48px">
                        <use href="./images/sprite.svg#icon-how-we-do-4"></use>
                    </svg>
                </div>
                <h3 class="how-we-do__title">
                    Psychological<br>
                    support
                </h3>
                <p class="how-we-do__information how-we-do__information--width">
                    We will teach you testing techniques, the ability to plan your confidence training<br>
                    in itself.
                </p>
            </li>
            <li class="how-we-do__item">
                <div class="how-we-do__box">
                    <svg class="how-we-do__svg" width="39.83px" height="48px">
                        <use href="./images/sprite.svg#icon-how-we-do-5"></use>
                    </svg>
                </div>
                <h3 class="how-we-do__title">
                    Training on copyright manuals
                </h3>
                <p class="how-we-do__information how-we-do__information--width">
                    You don't have to waste your time
                    on a search for material and to buy anything extra. We have compiled<br>
                    2 manuals for you.
                </p>
            </li>
            <li class="how-we-do__item">
                <div class="how-we-do__box">
                    <svg class="how-we-do__svg" width="57.14px" height="48px">
                        <use href="./images/sprite.svg#icon-how-we-do-6"></use>
                    </svg>
                </div>
                <h3 class="how-we-do__title">
                    Ability to comprehend spoken English
                </h3>
                <p class="how-we-do__information">
                    “F.R.I.E.N.D.S” won't help you. You will<br>listen regularly<br>
                    and analyze audio recordings
                    in accordance with the studied<br>vocabulary.
                </p>
            </li>
        </ul>
    </div>
</section>