<section class="section-our-program">
    <h2 class="our-program__title">Our program</h2>
    <ul class="our-program__list">
        <div class="our-program__list-wrapper">
        <li class="our-program__list-item">
            <h3 class="our-program__list-item-title">1 semester</h3>
            <h4 class="our-program__list-item-name">Grammar</h4>
            <p class="our-program__list-item-desc">Nouns & Articles<br>
                Adjectives & Adverb</p>
            <h4 class="our-program__list-item-name">Vocabulary</h4>
            <p class="our-program__list-item-desc">Family & Relations<br>
                People & Society</p>
        </li>
        <li class="our-program__list-item">
            <h3 class="our-program__list-item-title">2 semester</h3>
            <h4 class="our-program__list-item-name">Grammar</h4>
            <p class="our-program__list-item-desc">Pronouns
                Active Voice<br>
                Passive Voice</p>
            <h4 class="our-program__list-item-name">Vocabulary</h4>
            <p class="our-program__list-item-desc">Home<br>
                School<br>
                Work</p>
        </li>
        <li class="our-program__list-item">
            <h3 class="our-program__list-item-title">3 semester</h3>
            <h4 class="our-program__list-item-name">Grammar</h4>
            <p class="our-program__list-item-desc">Modal verbs<br>
                Infinitive<br>
                Gerund<br>
                Participle: 1, 2</p>
            <h4 class="our-program__list-item-name">Vocabulary</h4>
            <p class="our-program__list-item-desc">Travel & Tourism<br>
                Culture & Free Time<br>
                Sport</p>
            <h4 class="our-program__list-item-name">Writing</h4>
            <p class="our-program__list-item-desc">Informal Letter</p>
        </li>
        <li class="our-program__list-item">
            <h3 class="our-program__list-item-title">4 semester</h3>
            <h4 class="our-program__list-item-name">Grammar</h4>
            <p class="our-program__list-item-desc">Clauses: Conditional and<br> Wishes<br>
                Direct / Reported speech<br>
                Preposition<br>
                Conjunction<br>
                Numeral
            </p>
            <h4 class="our-program__list-item-name">Vocabulary</h4>
            <p class="our-program__list-item-desc">Healthy Living<br>
                Nature & Environment<br>
                Money
            </p>
            <h4 class="our-program__list-item-name">Writing</h4>
            <p class="our-program__list-item-desc">Formal Letter</p>
        </li>
        <li class="our-program__list-item">
            <h3 class="our-program__list-item-title">5 semester</h3>
            <h4 class="our-program__list-item-name">Grammar</h4>
            <p class="our-program__list-item-desc">Revision<br>
                Tests</p>
        </li>
        </div>
    </ul>
</section>