<section class="program">
  <div class="container program__container">
    <h2 class="section-title">Our program</h2>
    <div class="decorate"></div>
    <div class="wrapper">
      <ul class="main-list">
        <li class="main-list__item">
          <h3 class="main-list__title">1 semester</h3>
          <ul class="secondary-list">
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Grammar</h4>
              <p class="secondary-list__text">
                Nouns & Articles<br />
                Adjectives & Adverb
              </p>
            </li>
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Vocabulary</h4>
              <p class="secondary-list__text">
                Family & Relations<br />
                People & Society
              </p>
            </li>
          </ul>
        </li>
        <li class="main-list__item">
          <h3 class="main-list__title">2 semester</h3>
          <ul class="secondary-list">
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Grammar</h4>
              <p class="secondary-list__text">
                Pronouns<br />
                Active Voice<br />
                Passive Voice
              </p>
            </li>
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Vocabulary</h4>
              <p class="secondary-list__text">
                Home<br />
                School<br />
                Work
              </p>
            </li>
          </ul>
        </li>
        <li class="main-list__item">
          <h3 class="main-list__title">3 semester</h3>
          <ul class="secondary-list">
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Grammar</h4>
              <p class="secondary-list__text">
                Modal verbs<br />
                Infinitive<br />
                Gerund<br />
                Participle: 1, 2
              </p>
            </li>
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Vocabulary</h4>
              <p class="secondary-list__text">
                Travel & Tourism<br />
                Culture & Free Time<br />
                Sport
              </p>
            </li>
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Writing</h4>
              <p class="secondary-list__text">Informal Letter</p>
            </li>
          </ul>
        </li>
        <li class="main-list__item">
          <h3 class="main-list__title">4 semester</h3>
          <ul class="secondary-list">
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Grammar</h4>
              <p class="secondary-list__text">
                Clauses: Conditional and Wishes<br />
                Direct / Reported speech<br />
                Preposition<br />
                Conjunction<br />
                Numeral
              </p>
            </li>
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Vocabulary</h4>
              <p class="secondary-list__text">
                Healthy Living<br />
                Nature & Environment<br />
                Money
              </p>
            </li>
            <li class="secondary-list__item">
              <h4 class="secondary-list__title">Writing</h4>
              <p class="secondary-list__text">Formal Letter</p>
            </li>
          </ul>
        </li>
        <li class="main-list__item">
          <h3 class="main-list__title">5 semester</h3>
          <ul class="secondary-list">
            <li class="secondary-list__item">
              <h4 class="secondary-list__title"></h4>
              <p class="secondary-list__text">Revision<br />Test</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
