.container {
    margin: 0 auto;
    outline: 1px dashed green;

    @media screen and (max-width: 767px) {
        max-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1680px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and (min-width: 1680px) {
        width: 1680px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
