.section {
    @media screen and (max-width: 1679px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media screen and (min-width:1680px) {
        padding-top: 80px;
        padding-bottom: 120px;
        
    }
}